tr{
    color: #3f8cb5;
    border: 5px solid #f3c623;
    font-family:londrina Shadow;
    font-Size: 35px;
    background-color: white;
    text-align: center;
    padding: 0%;
   
}
td{
    color: #3f8cb5;
    font-family: Roboto;
    font-Size: 21px;
    background-color: white;
    
}
.table-bordered td{
    border: 3px solid #f3c623;
}
.table-bordered thead td, .table-bordered thead th{
    border: 3px solid #f3c623;
    
}
h1{
    font-family:londrina Shadow;
    font-Size: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 2%;    

}

h2{
    color: #683fb5;
    font-family: Roboto;
    font-Size: 25px;
    justify-content: center;
    align-items: center;
    margin-left: 2%;    

}