tr{
    color: white;
    border: 2px solid #f3c623;
    font-family:londrina Shadow;
    font-Size: 35px;
    background-color:#3f8cb5;
    text-align: center;
    padding: 0%;
    padding-bottom: 0;
   
}

td{
    color: #3f8cb5;
    font-family: Roboto;
    font-Size: 21px;
    background-color: white;
    border: 2px solid #f3c623;
    padding: 0px;
    
}
.table-bordered td{
    border: 2px solid #f3c623;
}
.table-bordered thead td, .table-bordered thead th{
    border: 2px solid #f3c623;
    
}
.table {
    padding-bottom: 0rem;
}

h1{
    font-family:londrina Shadow;
    font-Size: 30px;
    justify-content: center;
    align-items: center;
    /* margin-left: 2%;     */
    font-weight: 900;

}

h2{
    color: #683fb5;
    font-family: Roboto;
    font-Size: 25px;
    justify-content: center;
    align-items: center;
    /* margin-left: 2%;     */
    

}